<!-- <html>
  <head>
    <style>
        table, th, td {
  border: 1px solid black;
}
    </style> </head>
  <body>
    <div class="row d-flex justify-content-center">
      <div class="col-xl-10 col-lg-8 col-md-9 col-11">
        <div class="card text-center"></div>
      </div>
    </div>
  </body>
</html>
<table>
    <th>
    <td>Roll</td>
    <td>Name</td>
    <td>Pass</td></th>
    {% for i in data %}
    <tr>
    <td>{{i[0]}}</td>
    <td>{{i["name"]}}</td>
    <td>{{i["pass"]}}</td></tr>
    {% endfor %}
    </table> -->
